[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
tensorflow = "==1.13.1"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[scripts]
format = "black -v --skip-string-normalization ."